<div class="text-center">
  <h1>All our cocktails</h1>
</div>

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="col-xs-12 text-center">
      <h2><%= cocktail.name %></h2>
      <%= link_to "Details", cocktail_path(cocktail), class: "btn btn-primary" %>
    </div>
    <% end %>
  </div>
</div>
<br>
<br>
<div class="col-xs-12 text-center">
  <%= link_to "Add a new cocktail", new_cocktail_path, class: "btn btn-primary" %></div>
